$facebook: #1877f2;
$instagram: #c32aa3;
$twitter: #1da1f2;
$youtube: #ff0000;

#contact{
    .fa {
        &-facebook {
            color: $facebook;
        }

        &-instagram{
            color: $instagram;
        }
    }
}