$facebook: #1877f2;
$instagram: #c32aa3;
$twitter: #1da1f2;
$youtube: #ff0000;

#contact{
    .fa {
        &-facebook {
            color: $facebook;
        }

        &-instagram{
            color: $instagram;
        }

        &-twitter{
            color: $twitter;
        }

        &-youtube {
            color: $youtube;
        }
    }

    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    background-color: #fff;
    color: #333;
    text-shadow: 1px 4px 2px rgba($color: #000000, $alpha: 0.1);
}