// Header
header {
    text-shadow: 1px 4px 2px rgba($color: #000000, $alpha: 0.1);
}

#header-text{
    display: flex;
    flex: 0 1 40vw;
}

.header-image{
    background: url(https://bit.ly/3FZdhTF);
    background-position: center;
    background-size: cover;
}