* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#main{
    max-width: 56.25rem;
}

a, li {
    list-style: none;
    text-decoration: none;
}

.images {
    position: relative;
    width: 100%;
}

h1,h2{
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2{
    font-size: 1.8rem;
    text-transform: capitalize;
}

img {
    display: block;
    width: 100%;
}